[2017-05-08 11:23] lmoresi opened #1 "COPYING"
We should update the COPYING FILE and add an acknowledgement to the stripack python project for inspiration. AuScope open source is typically LGPL or BSD.

[2019-03-08 23:06] sound-fx opened #2 "Purpose of edge_refine_triangulation_by_vertices"
The docstring for the `sTriangulation.edge_refine_triangulation_by_vertices` method seems to imply that it bisects only those edges directly connected to any of the given vertices.  But from the code, it looks like it bisects **all** edges of the triangles that include the given vertices.  That is, for each triangle connected to any of the given vertices, it bisects the two connecting edges as wel

[2019-03-12 08:18] #1 closed

[2019-03-14 07:45] lmoresi commented on #2
This function was written for local mesh refinement in the region around a given vertex and the (unstated) intent was that the resulting mesh would be useful for aggregating scattered data and subsequent interpolation. So that led to the current implementation. The doc-string is not accurate.

If the functionality you described is useful then we can certainly add a means to achieve this.

[2019-04-25 18:21] santisoler opened #14 "[REVIEW] References on paper"
Part of https://github.com/openjournals/joss-reviews/issues/1410

The `paper.md` satisfies all JOSS requirements, it's very well written and the
*statement of need* is very clear within the first two paragraphs.
Nice work! :+1:

I have just one doubt. Does the *Laske, G., Masters, G., Ma, Z., & Pasyanos, M.
(2013)* article has a DOI? I haven't been able to find it through a quick search, but if yo

[2019-04-25 18:37] santisoler opened #15 "[REVIEW] License"
I see you have chosen the LGPL v3 license for your software. Great choice! :+1:
I think the license is well applied according to the **gnu.org** requirements.
You added:
- the `COPYING` file,
- the `COPYING.LESSER` file,
- license notes to each code file.

I would only change the [`License.txt`](https://github.com/underworldcode/stripy/blob/paper/Licence.txt) file for the one that GitHub offers yo

[2019-04-25 18:38] santisoler opened #16 "[REVIEW] Branching and Versioning"
Having a dedicated branch for the submitted paper to JOSS is a good idea because current developments won't interfere with the ongoing review, as you pointed out on the [joss-review issue](https://github.com/openjournals/joss-reviews/issues/1410).

Nevertheless I see a few minor issues regarding this approach.
On the first place, the default branch (`master` branch in this case) is like the presen

[2019-04-25 18:41] santisoler opened #17 "[REVIEW] Installation"
I really liked the installation instructions: they offers different ways to get `stripy`
working, which is an easy way to encourage users to use it.
I'm more familiar with `pip` package manager than `docker`, although many users would be
very thankful to have this option in case they don't want to bother installing
`gfortran` or having to reconfigure the build if they are using another Fortran
com

[2019-04-25 19:26] santisoler opened #19 "[REVIEW] Error when creating bash_utils.sh from Docker"
After installing `stripy` using Docker, I'm following the installation instructions for creating and installing the helper scripts for bash.
So, with the `underworldcode/stripy:latest` container already pulled, I run:
[code]
But, the `bash_utils.sh` contains only the following line:
[code]

Do you have any idea what could be failing?

**System specifications:**
- OS: Manjaro Linux XFCE 64bits
- Do

[2019-04-25 21:25] lmoresi commented on #19
Hmmm ... we may be missing something in the tool chain that gets loaded up when building the docker image. I’ll need to check that again.

Prof Louis Moresi

louis.moresi@unimelb.edu.au<mailto:louis.moresi@unimelb.edu.au>

(w) +61 3 8344 1217

(m) +61 4 0333 1413

(us) +1 505 349 4425

www.moresi.info<http://www.moresi.info/>

www.facebook.com/underworldcode<http://www.facebook.com/underworldcode>

[2019-04-26 00:42] lmoresi commented on #19
Ok a it’s a missing package from the dockerfile that must have got lost when we switched to a different base image. I’ll fix it up. How does this work with the submission / release ?

Prof Louis Moresi

louis.moresi@unimelb.edu.au<mailto:louis.moresi@unimelb.edu.au>

(w) +61 3 8344 1217

(m) +61 4 0333 1413

(us) +1 505 349 4425

www.moresi.info<http://www.moresi.info/>

www.facebook.com/underworl

[2019-04-26 12:55] santisoler commented on #19
So it wasn't a big issue, great! :+1:
If you have to make a change on the repo in order to fix the Docker, you could start a Pull Request with the fixing and then merge it into the `paper` branch.
This way we can keep track of which changes fixes which issues (if you write `Fixes #...` on the PR description, the issue gets closed when the PR is merged - see how I referenced #17 on #18).
If you don

[2019-04-26 16:18] lmoresi commented on #19
So, I have updated the docker image. It's not always obvious how to track versioning through this process. The changes are reflected in the dockerfile that we (happen to) keep in our repository. I pushed this to the master branch and merged into the paper branch. To test the docker help you will need to re-pull the docker image. As we haven't talked much about the versioning for this, I haven't ch

[2019-04-26 19:13] santisoler commented on #19
That's great @lmoresi, that should do the trick.
Perhaps is cleaner and simpler to make this changes directly on the `paper` branch, so you don't clutter it with the latest changes in `master`.
Nevertheless, I think this issues are related with how your git workflow has been defined (see #16 for my review about it). There's no big problems regarding it, but I think it will eventually give you some

[2019-04-26 19:29] santisoler commented on #19
I'm not familiar with tagging Docker containers, but seems that following the same version number than the one assigned to GitHub Releases is the best choice.
Nevertheless, for cases like this where you change the Docker container but don't make a GitHub Release,  you could use the hash of the commit for versioning your Docker. This allows you to keep track of which commit has created that Docker

[2019-04-26 21:27] lmoresi commented on #19
I'm not sure - I wonder if it is my inadequate understanding of bash functions. I tidied up a little bit and re-enabled the command-line killing option which had stopped working. If you can `docker pull` again, would be great.

I have this as the bash function that gets defined after the templating process spits out the bash_utils.sh. My version of bash is` GNU bash, version 3.2.57(1)-release (x86

[2019-04-26 22:32] santisoler commented on #19
I'm not used to working with Docker, so my lack of experience didn't let me see an obvious mistake.
That's why I limited myself to run the instructions on the `README.md`.

I've just realized that the `docker pull underworldcode/stripy:latest` didn't pull the `underworldcode/stripy:0.7` version. I thought the `latest` version was just a pointer to the newest tag, like GitHub's `latest` version wor

[2019-04-28 23:05] lmoresi commented on #19
The "latest" tag is the cause of a lot of problems but I suppose we are stuck with that. I'll try to remember that this is a potential issue.

I will close this particular one.

[2019-04-28 23:06] #19 closed

[2019-04-29 05:57] lmoresi commented on #14
The alternative is to cite the web address where the dataset is available or the URL of the abstract PDF. But the Abstract has a large number of citations in the form we have used and no obvious way to find a DOI. I went back to the original location here: https://meetingorganizer.copernicus.org/EGU2013/posters/12567 and https://meetingorganizer.copernicus.org/EGU2013/EGU2013-2658.pdf

Maybe one d

[2019-04-29 05:58] lmoresi commented on #14
PS - I'll leave this open until there is editorial feedback.

[2019-04-29 06:08] lmoresi commented on #15
Zenodo also likes this better, I believe, so we will take the suggestion on board.

[2019-04-29 06:08] #15 closed

[2019-04-29 06:13] lmoresi commented on #17
I would like to address this issue and, perhaps the one with the docker images having more helpful tagging. It would be best to have tags sync'd between docker and pypi.

How does commit-based tagging work with pip where there is an implied ordering of the tags to make >= operations meaningful ?

Happy to address this offline if it will blow out the review thread.

[2019-04-29 06:29] lmoresi commented on #16
OK - so the idea of the paper branch was that, once this process is complete, we would like to have a binder-addressable branch with a dockerfile that people can use to reproduce / rerun the paper for the relevant release of the code. We thought it would also be useful in the review process but probably overlooked the release requirements of joss in setting that up.

This is slightly different fro

[2019-04-30 11:43] santisoler commented on #14
@VivianePons, we have a minor doubt regarding one of the references. Neither the authors nor me could be able to find a DOI for *Laske, G., Masters, G., Ma, Z., & Pasyanos, M. (2013)*.
Can they keep it without a DOI? Can they just add a link to the PDF version of the article instead?

[2019-04-30 11:48] santisoler commented on #15
Great! Because it's expected the `LICENSE` file to be on the root of the repo, most online tools (like GitHub or Zenodo) will try to read it from that location.

I would recommend to reopen this issue until is fixed so we don't forget to tackle it down.

[2019-04-30 12:16] santisoler commented on #15
Sorry, I've just seen that you fixed this on the `master` branch.
Leave this issue closed then, sorry for the inconvenience.

[2019-04-30 12:39] santisoler commented on #16
Thanks for enlighten me on your git workflow.
I think that because git is a very powerful tool it open the possibilities for very different workflows.
Nevertheless there's one absolute true behind it: the best repo management strategy is the one that best fits your needs.
I'm seeing that the persistent branch approach is not very well suited for your needs.
I think this approach is like using bran

[2019-04-30 13:02] santisoler commented on #17
I've just added a comment on #16. It's somehow related to this one, so please read it before the following lines.

You're absolutely right. All the versions across different services **should** have the same tag.
This will prevent huge headaches!

Maybe I created some confusion with the hash-based tagging proposal.
You should upload only released versions of your software to pypi, and not using ha

[2019-04-30 13:12] santisoler commented on #17
I think JOSS wants the review process to be open, so I would keep our discussions on Issues and PRs.
I think it's important because it lets editors to monitor if any reviewer is violating the Code of Conduct.

So feel free to fill the issues with a lot of comments!

[2019-04-30 13:14] santisoler commented on #17
Please let me know if I didn't explain myself well on any topic.

[2019-04-30 22:24] lmoresi opened #21 "[REVIEW] python tests are broken / unhelpful"
This issue was raised by @rrenka as an installation query and I am moving it here for the formal review process:

[code]

[2019-05-01 09:15] brmather commented on #21
Apologies for these error messages, the test scripts have not been updated in some time. This is because all of the components that were tested have been incorporated in the Jupyter notebooks. Regardless, I have removed some redundant tests and fixed `test_routines.py`, `test_Triangulation.py`, and `test_sTriangulation.py` in f1585571636a092de785befbbd1b28c39547796c commit on the master branch.

T

[2019-05-02 00:08] lmoresi commented on #16
I am in the middle of doing that.  I will get rid of the paper branch ASAP. Binder doesn't document their API very well for people like me but I dug through their examples more carefully and discovered that we can put the required dockerfile in a subdirectory. This was why I originally had a separate branch: the need to have a DOCKERFILE at the root level (ugly and incompatible with other parts of

[2019-05-02 00:54] lmoresi commented on #16
Binder now runs from the master branch and I have created a dev branch for any work we do towards the next release while the JOSS review is under weigh.

[2019-05-02 00:54] #16 closed

[2019-05-02 01:02] lmoresi commented on #17
I have restructured the repo to match your suggestions and (after quite a bit of digging through the binderhub / repo2docker repositories) managed to hide the ugly and incompatible binder configuration options that we previously needed branching to manage. Your advice is helpful here and does actually mean we can automate the container process.

My question regarding the tagging was indeed aimed a

[2019-05-02 05:17] #2 closed

[2019-05-02 06:05] lmoresi commented on #21
I added a rather inelegant test file for valid importing of various dependencies culled from notebooks etc. The output might be helpful in dealing with the issues above.

[2019-05-02 06:05] #21 closed

[2019-05-02 12:26] santisoler commented on #16
Great! :+1:
Thanks for taking my proposals into account, hope they make the repo management easier.

Just want to note that having several files on the root is very common (see [verde](https://github.com/fatiando/verde), [simpeg](https://github.com/simpeg/simpeg) or [yellowbrick](https://github.com/districtdatalabs/yellowbrick)). So don't be afraid if it looks ugly.
In fact, I think it's better th

[2019-05-02 12:31] santisoler commented on #17
Thanks for taking my proposals into consideration.
I think this issue is already solved, so I'll close it.
If any other issue comes up regarding the installation instructions, we could open a new issue in the future.

[2019-05-02 12:31] #17 closed

[2019-05-02 18:03] rrenka opened #23 "README and tests warnings"
I upgraded to Python 3.7, reinstalled stripy, and ran the tests again.
They work fine but issue DeprecationWarnings on time.clock.

The README.md file has references to python and pip commands.
Should they be changed to python3 and pip3 since Python 3.5
is now specified as a requirement?

[2019-05-03 02:09] lmoresi commented on #23
@brmather - while we are busy tidying the other issues, shall we fix the deprecated dependencies ?

Also @brmather, have we introduced features that break under 2.7 in the most recent code as I have been using the notebooks with either kernel.

[2019-05-03 02:13] lmoresi commented on #23
@rrenka - depending on the answer to the previous comment ...

pip2 and pip3 ensure that the relevant python is used and do not work properly if the relevant python is not installed. pip by itself is supposed to work with whichever python is currently active. So we would usually leave this as pip because we **should** be able to work under 2.7.

And this is a transition year for python in which we

[2019-05-03 04:18] brmather commented on #23
I do believe stripy should be compatible with 2.7 and 3.x

A more general approach to installation with pip is:

[code]

This has been updated with 1243033ea5ed758e51a4142bebe3062cae52c198. I suppose it doesn't hurt to have legacy 2.7 despite it being sent to pasture in 2020.

[2019-05-03 04:30] brmather commented on #23
DepreciationWarning(s) _should_ be fixed in 7fd0132f62aa90588c005115f708f45bcd989b6e.

For the purpose of the test scripts, `time.clock` and `time.time` are interchangeable. Except the latter is not (yet) depreciated.

[2019-05-03 04:37] lmoresi commented on #23
OK - we are probably in a position to close this.

@rrenka - feel free to re-open if related issues continue or it's not exactly working as advertised.

[2019-05-03 04:37] #23 closed

[2019-05-06 13:44] santisoler opened #24 "[REVIEW] Missing dependencies for Notebooks"
Part of https://github.com/openjournals/joss-reviews/issues/1410

When running some of the Notebooks the following dependencies are required:
-  `gdal`
- `cartopy`
- `lavavu`
- `pyproj`

Would be nice to have them as dependencies on the `README.md`.
Because they are not essential in order to run `stripy`, they could be added as `Extra dependencies` or `Recommended packages` with a note detailing t

[2019-05-06 14:37] santisoler opened #25 "[REVIEW] Lavavu examples not showing on binder"
Part of https://github.com/openjournals/joss-reviews/issues/1410

The interactive plotting of spherical triangulations using `lavavu` is not working as expected on binder.
I'm getting the following output cell:
![lavavu-binder](https://user-images.githubusercontent.com/11541317/57232469-07cb2280-6ff3-11e9-8618-6f552280cd44.png)

Don't know if it's something wrong with binder itself, or if `lavavu`

[2019-05-06 15:12] santisoler opened #26 "[REVIEW] Presence of litho1pt0 on stripy repository"
Part of https://github.com/openjournals/joss-reviews/issues/1410

I'm a little bit confused about the presence of `litho1pt0` source code on `stripy` repo.
I can see the vinculation between both packages, and the importance of showing how `stripy` is a great companion for the Litho1.0 dataset.
Nevertheless, it's not a good practice to include several packages into a single repo.
Having one reposit

[2019-05-06 15:19] santisoler opened #27 "[REVIEW] Notebooks directory inside stripy source code"
Part of https://github.com/openjournals/joss-reviews/issues/1410

Leaving the source code of the package and the notebooks that show examples of its applications separated is a good practice in order to keep the repository better organized.
I found that the `stripy` related notebooks are located inside `/stripy-src/stripy/Notebooks` and linked on the `/stripy/Notebooks` directory.
I think that mov

[2019-05-06 16:06] santisoler opened #28 "[REVIEW] Compile documentation with Sphinx"
Part of https://github.com/openjournals/joss-reviews/issues/1410

I've found that the `stripy` public functions and classes are very well documented, and together with the Notebooks they give a nice starting point for newcomers.
So I consider the **Example usage** item on the review checklist is already satisfied with the notebooks, while the **Functionality documentation** is covered with the fun

[2019-05-06 19:20] santisoler opened #29 "[REVIEW] Tests are not asserting for expected functionality"
Part of https://github.com/openjournals/joss-reviews/issues/1410

One of the JOSS requirements is to have manual or automated tests to verify if the functionality of the package.
You have successfully added manual tests inside `stripy/stripy-src/tests` that check:
- if required dependencies and some other packages are already installed,
- if Cartesian and Spherical interpolation, derivative and sm

[2019-05-06 19:34] santisoler opened #30 "[REVIEW] Missing community guidelines"
Part of https://github.com/openjournals/joss-reviews/issues/1410

JOSS requires that the documentation (and/or the `README.md`) must have guidelines to developers and users on how to contribute to the software, how to report issues and problems with it and how to seek support.

[`MetPy`](https://github.com/Unidata/MetPy/) has a very nice [contributors guide](https://github.com/Unidata/MetPy/blob/m

[2019-05-06 23:09] lmoresi commented on #27
The original reason was to be able to bundle them standalone with the pypi installation and install notebooks after a pip install. We can probably move those to a different location but we usually do not have a separate repository for this level of documentation. I expect we can engineer for setup.py to reach up and out to get the notebooks from elsewhere in the repo.

[2019-05-06 23:11] lmoresi commented on #28
This is probably a good idea, but I wonder if it may be better to do this after the formal review and ask for your help if you are still able to find the time. I would prefer that we give you credit for that level of assistance that is beyond simply a review.

[2019-05-06 23:13] lmoresi commented on #26
OK - this is a historical artifact. Litho1pt0 was the original code and stripy was broken out of it. I would be happy to remove this and create another repo for litho1pt0 given the direction stripy has now taken. [[ @brmather , we should do all the other matters regarding tests and reorganisation first so that litho1pt0 benefits from all the advice we are receiving in this review ]]

[2019-05-06 23:18] lmoresi commented on #25
lavavu should work in the binder but there is a continual battle between jupyter hub security and the various reverse-proxy strategies we have to follow to keep the lavavu service visible.

@brmather - the known working solution is to use lavavu<1.3 (i.e. the final 1.2.x release) and make sure that binder is pointing to traditional notebook rather than jupyterlab. This is probably something that w

[2019-05-07 11:33] santisoler commented on #27
Oh ok! I didn't notice that was the reason for the current location of the notebooks.
So, in light of this new reason let me rethink the issue.

The current location is not harmful, so we could consider it as a possible solution.
I don't quite like to force the `setup.py` to find files outside its directory. You'll need to hack it and create a non very elegant solution.

I can see two more options

[2019-05-07 11:40] santisoler commented on #28
Sounds good to me, we could leave the documentation compilation for the future and focus on more *urgent* issues.

Please, leave this issue open to remind us that we want to tackle this on the future.

PS: Thanks for your consideration about my assistance. I think the open review opens the possibility to create these kind of contributions between people around the world. I'm glad I can help and ex

[2019-05-07 11:42] santisoler commented on #26
:+1: In fact you could submit another paper with `litho1pt0` to JOSS :tada:

[2019-05-08 00:53] brmather commented on #26
Yes, I agree it makes sense to split `litho1pt0` out of stripy. The documentation for it is not up to the same standard as `stripy` so this is something we could work on separately. Thanks @santisoler for the suggestion.

[2019-05-08 02:55] brmather commented on #27
I personally prefer your second proposal. I think the original motivation for keeping everything tucked away in `stripy-src` was to de-clutter the root directory, but in hindsight that has created unforeseen issues where license files have not been detected and symbolic links to README.md were required. If we are moving `litho1pt0` source to another repository (#26) I see little need to store stri

[2019-05-08 03:12] lmoresi commented on #27
Yes, that is my preference too. The issue with grabbing notebooks from downloads is also going to be one of versioning. As we do with underworld, running the example notebooks should be one of the tests in the test suite so it is useful for that to be something we can do on the repository without needing to synchronise releases in multiple repos.

The proposed structure is fine and I would suggest

[2019-05-08 03:45] lmoresi commented on #25
I just checked with the binder / dockerfile with lavavu that I am using for a class. The current build does work with binder (which has changed its interface in the last few days) even when using the new default jupyter-lab.

So, that is commit **afa8cd24e6dae7ffbacf9735db8e1affd85fd3df** which we should probably specify explicitly in the dockerfile

[2019-05-08 04:31] brmather commented on #25
OK this has been fixed with 693deb22fe203912ac017dbdb6917313c9c8f53e and should *stay* fixed since we have frozen the version of lavavu.

[2019-05-08 04:31] #25 closed

[2019-05-08 04:35] lmoresi commented on #25
Not necessarily - there are some changes with binder that require particular versions of jupyterhub (I think) and this means we might have to update the dockerfile and the various lavavu tricks to integrate with it.

Fingers crossed it continues to work for a decent amount of time.

Prof Louis Moresi

louis.moresi@unimelb.edu.au<mailto:louis.moresi@unimelb.edu.au>

(w) +61 3 8344 1217

(m) +61 4 0

[2019-05-09 14:20] santisoler commented on #27
Great! Because this refactor could involve major changes, I would recommend creating a PR to do it.
That way we can test if everything is working as expected before merging it.

Ok. I didn't know `litho1pt0` is not suited for a JOSS publication. But would be nice if it has its own repo along with a Zenodo doi.

[2019-05-14 09:42] brmather commented on #27
Alright, I have created a [restructure](https://github.com/underworldcode/stripy/tree/restructure) branch to deal with the moving everything to the top-level directory with this commit c735c0a38dc5e8c53d33d974cc32fdfb4d069d7e. Changes include:

- `/stripy-src` -> `/`
- `/stripy-src/stripy/Notebooks` -> `/Notebooks`

@santisoler: how do you include the Notebooks as `package_data`? I have the follow

[2019-05-14 09:45] lmoresi commented on #27
did you use  "include_package_data = True” (seriously … it’s an actual thing)

Prof Louis Moresi

louis.moresi@unimelb.edu.au<mailto:louis.moresi@unimelb.edu.au>

(w) +61 3 8344 1217

(m) +61 4 0333 1413

(us) +1 505 349 4425

www.moresi.info<http://www.moresi.info/>

www.facebook.com/underworldcode<http://www.facebook.com/underworldcode>

@LouisMoresi<https://twitter.com/LouisMoresi>

On 14 May 2

[2019-05-14 09:53] brmather commented on #27
Yes it's in there - but why would you define `package_data` if you didn't want it to be included!? Weird option.

[2019-05-14 17:12] santisoler commented on #27
Great @brmather! Would you mind opening a Pull Request for the `restructure` branch so we could continue the discussion over there? The Pull Requests interface offers a lot of tools for discussing over the proposed code, like reviews, comments or even changes suggestion from any collaborator.
(In case you don't know how to do it, you could get very nice instructions from [this GitHub article](http

[2019-05-15 08:07] brmather commented on #27
OK I moved the Notebooks back inside `/stripy` again with b1a135daf2189d03b530d538c68444ee102c2f03.

We need `numpy.distutils.core` to compile fortran sources. As far as I'm aware `setuptools` is not capable of doing that.

In your proposed directory restructure, you have kept `litho1pt0-src` in there. I was under the impression this should be moved to a separate repository under the underworldcod

[2019-05-15 09:20] lmoresi commented on #26
In the proposed restructure, litho1pt0 is gone and I have created the relevant repository so that the history is not lost. I think we can close this issue

[2019-05-15 09:20] #26 closed

[2019-05-15 09:24] lmoresi commented on #27
I think we do move it. Some folks like to have related projects together, some do not. However, this one was always an uncomfortable marriage and I prefer the unencumbered stripy to be honest.

In placing the Notebooks within stripy, I followed a pattern that has been advocated elsewhere for distributing documentation in this form. As we have seen from trying alternatives, no choice is perfect but

[2019-05-15 09:24] #27 closed

[2019-05-15 11:14] lmoresi commented on #29
Agreed - pytest is great. The current tests are a bit lengthy for the pytest approach but I have  put them into the pytest format. There is some scipy issue at the moment that needs to be sorted out

[2019-05-15 12:53] santisoler commented on #27
:+1:

Yes, you're right. But, from what I've read, I understood that importing `setuptools` would enhance the `setup` function from `numpy.distutils.core`. My main concern about this was not functionality, but the presence of two `setup` functions on the same script, what could cause problems in the future if you don't remember exactly which one you must use.

Yes. Sorry for that, maybe I should h

[2019-05-15 13:01] santisoler commented on #27
I agree with that solution. Sometimes we open an issue that won't ultimately solve any problem, but make us rethink why we have designed some piece of software as it is and why it's the best solution we can find.
I think this kind of discussion make software more robust.

[2019-05-15 13:06] santisoler commented on #29
:+1: Let me know if you need any help with those issues!

[2019-05-15 20:07] lmoresi opened #33 "Cartesian mesh with unequal resolution"
`py.test tests/test_mesh_examples.py` is showing a problem with the Cartesian box mesh with non-equal resolution

[2019-05-16 03:32] brmather commented on #33
Fixed in 822de9dd2c9bb9dd5124f402fa711ff52a73cb4f

What a silly bug this was! Guess the tests are already paying dividends :smile:

[2019-05-16 03:32] #33 closed

[2019-05-22 08:28] brmather commented on #24
Thanks @santisoler - this has been addressed with b1c4aefcd82c7b7a669b79ebccbda94d167be4e6

[2019-05-22 08:28] #24 closed

[2019-05-28 02:28] lmoresi commented on #30
We added a contributions guide. This is modelled on other pieces of software from the underworld team and so is in our house style. We read the suggestions for inspiration too.

[2019-05-28 11:32] santisoler commented on #30
Great! :+1:

I think we could close this issue if you agree. Glad to see the repo looking so good!

[2019-05-28 13:50] VivianePons commented on #14
Yes, you can keep it without DOI if it does not exist

[2019-05-28 14:19] santisoler commented on #14
Thanks @VivianePons!

[2019-05-28 14:21] santisoler commented on #14
@lmoresi @brmather In light of this editorial feedback, we can safely close this issue if you agree.

[2019-05-29 09:38] brmather commented on #29
This commit ca6e6511cba6e3cb29167b1464a25e8703b2496a tests the following functionality of the spherical and Cartesian triangulations:

- Derivatives `mesh.gradient(...)`
- Nearest neighbour interpolation `mesh.interpolate_linear(...)`
- Linear interpolation `mesh.interpolate_linear(...)`
- Cubic interpolation `mesh.interpolate_cubic(...)`
- Smoothing `mesh.smoothing(...)`

All tests are passing wi

[2019-05-29 10:27] lmoresi commented on #29
There will always be more tests - and we can check coverage with the relevant pytest plugin but the important thing is that we now have a reliable and extensible testing framework. We should run these in the final stages of the docker build to ensure we have at least some continuous checking. Then I would assert that we have done as asked and can close the issue.

Sent from my iPhone

On 29 May 20

[2019-05-29 13:31] brmather commented on #29
One can never have too many tests! Since 01defbdc81b383ce07306df0a378b953b21d588a `pytest` will run everything in the _tests_ directory.

[2019-05-29 13:31] #29 closed

[2019-05-29 13:31] #30 closed

[2019-06-01 11:31] lmoresi commented on #14
I'm fine with that !

[2019-06-01 11:31] #14 closed

[2019-06-03 08:42] brmather commented on #28
While this is independent of the formal review, I was interested to check out how this compiled documentation works. The workflow @santisoler suggests looks sound, but I encountered some issues with `sphinx`:

- `sphinx` pollutes the `docs` folder with makefiles, configuration files, etc. which I find messy.
- Markdown is not really supported and it is a pain to format everything to restructured t

[2019-06-03 10:27] lmoresi commented on #28
The benefit seems to be that, like pytest, it is very lightweight and adds little overhead. Their motto is also one of the better ones out there.

L

Prof Louis Moresi

louis.moresi@unimelb.edu.au<mailto:louis.moresi@unimelb.edu.au>

(w) +61 3 8344 1217

(m) +61 4 0333 1413

(us) +1 505 349 4425

www.moresi.info<http://www.moresi.info/>

www.facebook.com/underworldcode<http://www.facebook.com/unde

[2019-06-03 12:09] brmather commented on #28
:laughing:

@lmoresi can you set up the GitHub pages environment? I would do it but I don't have access to the settings panel for the repo...

[2019-06-03 13:41] santisoler commented on #28
Nice initiative! Documentation is a very important part of releasing software. Helping users to figure out how it works always makes things easy for them.

Your right, Sphinx builds the docs upon configuration files and a `Makefile`. Could be a little bit overwhelming at first, I agree.
Although, I think the `Makefile` is great when you need to tell a CI (continuous integration) to build the docum

[2019-06-03 14:23] santisoler opened #36 "[REVIEW] Litho1pt0 importation is being tested"
Part of https://github.com/openjournals/joss-reviews/issues/1410

Litho1pt0 has been moved away from Stripy repository, although its importation it's still being tested on [test/test_0_imports.py](https://github.com/underworldcode/stripy/blob/master/tests/test_0_imports.py).
I would suggest to remove it until `litho1pt0` is nicely packaged and could be installed though pypi.

What do you think?

[2019-06-03 14:43] santisoler commented on #36
Ok. I found that `litho1pt0` is still available on pypi.
So, maybe we should just add it to the `README.md`.

[2019-06-03 23:26] lmoresi commented on #28
The docs are live ... www.underworldcode.org/stripy (or underworldcode.github.io/stripy.

The one thing that would be good is a solution to the problem of embedding equations in the docstrings. It is possible with sphinx and it is somewhat possible with pdoc3 but it complains about the latex backslash escape characters which it is trying to interpret.

However, take a look. It seems to be at the r

[2019-06-03 23:43] brmather commented on #28
Ah, be sure to compile off the "compiled-documentation" branch. I made a few minor adjustment to the docstrings to get them to render correctly (see pull request #37).

[2019-06-04 01:21] brmather commented on #28
OK the [docs](http://www.underworldcode.org/stripy/) are looking *very, very* good!

I'm not sure how to embed maths expressions, however, the backslash shouldn't be a problem if you put *r* in front of the docstring, right? If not, it might be worth raising an [issue ](https://github.com/pdoc3/pdoc/issues) on their GitHub since `pdoc` is under active development.

[2019-06-04 01:59] lmoresi commented on #28
https://github.com/lmoresi/pdoc - I made a quick fork and added some mathjax support and python markdown support. The issue of escaping still arises which can be avoided by escaping the escapes or by marking the docstring as raw. There are some deprecated features in the markdown math extension but ... details.

It's not obvious which is the right choice but I am not that keen on the raw marker as

[2019-06-04 06:49] brmather commented on #28
This seems pretty good. It supports fractions and symbols e.g. [`interpolate_cubic()`](http://www.underworldcode.org/stripy/cartesian.html#stripy.cartesian.Triangulation.interpolate_cubic). The MathJax(ed) docs look decent for `cartesian.py` and it's only a matter of time before `spherical.py` looks as good!

[2019-06-04 06:57] lmoresi commented on #28
Nice … I wonder if \partial F / \partial y looks better than the \frac equivalent for inline stuff.

Prof Louis Moresi

louis.moresi@unimelb.edu.au<mailto:louis.moresi@unimelb.edu.au>

(w) +61 3 8344 1217

(m) +61 4 0333 1413

(us) +1 505 349 4425

www.moresi.info<http://www.moresi.info/>

www.facebook.com/underworldcode<http://www.facebook.com/underworldcode>

@LouisMoresi<https://twitter.com/Lou

[2019-06-04 12:31] santisoler commented on #28
:tada: Nice job! :tada:

The documentation looks really good!
I liked how pdoc created a very beautiful documentation with a very low learning curve.
Congratulations! :muscle:

One minor thought.
Have you compiled the documentation locally and then pushed it to the repo?
This approach is very quick but might be annoying in the future: each time you make some change on the code, you need to remembe

[2019-06-04 12:34] santisoler commented on #28
I've just seen you started configuring Travis a few hours ago! That's great!
Hope my previous message helps.

[2019-06-04 13:13] brmather commented on #28
Yes @santisoler I had the same thought! Over time it would get very tedious to manually compile the documentation. @lmoresi I don't think the repo is configured to let me manage `stripy` on Travis ([travis-ci.org](https://travis-ci.org) or [travis-ci.com](https://travis-ci.com/)). In any case, I tried it out my [`pycurious`](https://github.com/brmather/pycurious) package and it works really well.

[2019-06-04 13:19] brmather commented on #28
@santisoler I just looked those Travis CI scripts on fatiando - the one on deploying to PyPI is super useful! Thanks :+1:

[2019-06-04 13:45] santisoler commented on #28
Glad to be helpful!

Nice package you have! I'll leave a comment about it on its repo.

That's great! Specially the last step haha!
Be careful with the personal access token! You **must encrypt** it and prevent Travis from dumping it into the Job Log (see [this line](https://github.com/fatiando/continuous-integration/blob/master/travis/deploy-gh-pages.sh#L32)).
If you have the slightly doubt that

[2019-06-04 18:16] rrenka opened #38 "pytest errors"
I'm still getting errors in the tests.  Following are some excerpts from
running on my MacBook Air.

test_1a_spherical_mesh_examples.py:57:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/stripy/cartesian_meshes.py:48: in __init__
 ...

E       ValueError: all the input

[2019-06-04 23:28] lmoresi commented on #28
I’d suggest we consider docker here. Should be reasonable to have a stable base image and build against that. This would be advantageous given our reliance on docker for nearly every other workflow - and because of the complexity of our dependencies.

This would be a good thing for other packages and deployments (e.g. of courses) that contain underworld dependencies where the setup is fragile and

[2019-06-04 23:40] brmather commented on #28
Yes fair enough, we already run the tests in the Docker build using `pytest` so no need to double up with Travis CI.

[2019-06-05 00:00] brmather commented on #38
I am unable to reproduce these errors on my system - @rrenka are you compiling against the latest version of the master branch? There might be some changes from the last two weeks or so that need to be pulled.

[2019-06-05 00:03] lmoresi commented on #38
Also that the tests are best run with `python setup.py test` which should then verify all the dependencies are in place.
If that verification is fragile, we can figure out why.

Prof Louis Moresi

louis.moresi@anu.edu.au

(m) +61 4 0333 1413

(us) +1 505 349 4425

www.moresi.info<http://www.moresi.info/>

www.facebook.com/underworldcode<http://www.facebook.com/underworldcode>

@LouisMoresi<https:/

[2019-06-05 00:04] lmoresi commented on #28
I meant that travis has a whole workflow that includes docker and we could make use of that. The docker build / test does not give great warnings.

Prof Louis Moresi

louis.moresi@unimelb.edu.au<mailto:louis.moresi@unimelb.edu.au>

(w) +61 3 8344 1217

(m) +61 4 0333 1413

(us) +1 505 349 4425

www.moresi.info<http://www.moresi.info/>

www.facebook.com/underworldcode<http://www.facebook.com/underw

[2019-06-05 12:32] santisoler commented on #28
Configuring Travis to run the tests from within your Docker image would be nice, specially if that's your best recommended way to run Stripy.

My conda proposal was just to run the tests for the non-Docker installation. You could either use the standard Python distribution included on Travis CI VMs, but @brmather exposed some issues regarding a few dependencies (`gdal`, `cartopy`, `lavavu`). That'

[2019-06-05 12:38] lmoresi commented on #28
Thanks - I had in mind the idea that we would run the tests in a docker environment with all the necessary dependencies which seems to be a documented workflow for travis. This replaces the build-or-die that we currently have with the automated docker build running the tests as the last command in the dockerfile and then flagging a fail-to-build on dockerhub !

Prof Louis Moresi

louis.moresi@unim

[2019-06-05 15:22] rrenka commented on #38
I reinstalled the code on May 29 so I think it's current.

I executed the command 'python3 setup.py test' on both a Linux box and a Mac.
I got no errors under Linux but I got the following results under MacOS:

____________________________________ test_cubic_interpolation _____________________________________

    def test_cubic_interpolation():

        # we need more points for cubic interpolati

[2019-06-05 15:23] rrenka commented on #38
I hit the wrong key.  Didn't mean to close.

[2019-06-05 23:27] lmoresi commented on #38
@brmather - I'm not a fan of these isclose() tests as I am more interested to know if stuff blows up catastrophically v. potential rounding errors.  Perhaps we can have a separate set of accuracy tests that we can run if the debugging tests pass. It might also be useful to separate out the tests for optional packages associated with demonstrations in the documentation.

[2019-06-05 23:29] lmoresi opened #39 "gdal library is too complicated"
I suggest we migrate to imageio which is far simpler to install and maintain. It does not need the complicated binary / gcc built dependencies of gdal.

I might not be able to recommend this for the processing of satellite images etc because gdal does give access to the geo transform data but for our demonstrations in stripy it works fine.

There are some examples in the lavavu texture mapping for

[2019-06-06 05:54] brmather commented on #38
OK - I've just committed some better tests for functionality that _should_ be agnostic to rounding errors eea3be0b40cfd8fb4acf90dfbc6a5e5d488a1002. @rrenka can you pull the latest changes and let us know if you still encounter errors?

[2019-06-06 05:59] brmather commented on #39
But `cartopy` requires gdal libraries...

[2019-06-06 06:02] lmoresi commented on #39
hmmm … so much for that idea. It is easier to use imageio for the image import though and is more legible.

Prof Louis Moresi

louis.moresi@unimelb.edu.au<mailto:louis.moresi@unimelb.edu.au>

(w) +61 3 8344 1217

(m) +61 4 0333 1413

(us) +1 505 349 4425

www.moresi.info<http://www.moresi.info/>

www.facebook.com/underworldcode<http://www.facebook.com/underworldcode>

@LouisMoresi<https://twitter.

[2019-06-06 06:04] brmather commented on #39
Yes, and scipy are deprecating their `imread` function, so alternatives like imageio are now necessary!

[2019-06-06 08:02] brmather commented on #36
Alright, I've just added it with your pull request #34

[2019-06-06 08:02] #36 closed

[2019-06-06 09:31] brmather commented on #28
In light of potential issues on other platforms #38 - I think it's we should use Travis CI to test on Linux and OSX. I've created a pull request #40 to update `.travis.yml` configuration file. Amongst other changes, I have removed these optional dependency tests from `test_0_imports.py`:

[code]

A lot of users might not want to install the optional dependencies and just want to install stripy to

[2019-06-06 16:26] rrenka commented on #38
The error in test_sTriangulation went away but I got the following error in test_Triangulation:

PASS! (Derivatives)
Traceback (most recent call last):
  File "test_Triangulation.py", line 162, in <module>
    test_nearest_nd_interpolation()
  File "test_Triangulation.py", line 20, in test_nearest_nd_interpolation
    Zi, ierr = mesh.interpolate_nearest(ix, iy, Z)
TypeError: cannot unpack non-iter

[2019-06-07 05:42] brmather commented on #38
Some time ago I found that a few interpolation functions broke when a scalar was passed in to `xi` or `yi` instead of a list. This has been subsequently fixed, but you might need to update `stripy` for it to be compatible with the latest series of tests.

Run this from the top-level directory after you `git pull` the latest changes from the repo:

[code]

I think all the bugs have been squashed no

[2019-06-07 13:44] rrenka commented on #38
OK.  Success!  I can now check all the boxes on the review form.  Good work!

[2019-06-08 09:11] brmather commented on #38
Great! I'm closing this issue...

[2019-06-08 09:11] #38 closed

[2019-06-27 19:41] rmmilewi opened #43 "Just a quick question"
Hello!

My name is Reed, and I'm a software engineering researcher at Sandia National Laboratories in the US. I've created an issue on your repo just to ask a quick question. If you don't have time or don't care to respond, feel free to ignore me and/or delete this issue.

Where I work, we have a very diverse ecosystem of cutting-edge research codes spanning every discipline you could imagine. I'm

[2019-06-27 23:37] lmoresi commented on #43
There are many reasons to be organised about versioning and, at some stage, any software project has to adopt some form of version tagging. There are, however, some compelling reasons to start early:

1. It encourages some introspection / reflection - making regular small releases keeps the code well organised and encourages the developer to feel a little bit uncomfortable when things get too diso

[2019-06-28 13:08] rmmilewi commented on #43
You're amazing! Far above and beyond my expectations! I appreciate you taking the time to reply, I'll definitely be sharing your perspectives with the research teams in my care. Thank you again! :-D

[2019-07-17 20:01] #43 closed

[2019-07-17 20:03] lmoresi commented on #39
Python gdal is not really needed for cartopy ... the missing functionality if we switch to imageio is the geotransform extraction from a geotiff.  That's the kind of thing that is not important for demonstrating stripy even if it is vital for the eventual applications.

[2019-07-18 00:19] brmather commented on #39
Ah - I was getting confused with GEOS. But that's a much simpler installation than GDAL. The geotransformation stuff is probably not even that important considering all our geotiffs use a global extent. Removing GDAL should trim down the docker image size too.

[2019-07-18 01:21] lmoresi commented on #39
You still need the goal library but not the python layer of dgalwey which can be a bit fussy
On 17 Jul 2019, 17:19 -0700, Ben Mather <notifications@github.com>, wrote:

Ah - I was getting confused with GEOS. But that's a much simpler installation than GDAL. The geotransformation stuff is probably not even that important considering all our geotiffs use a global extent. Removing GDAL should trim do

[2019-09-30 05:36] lmoresi commented on #39
One last comment and then I am going to close this. The PIL library does allow us to extract the metadata from a tif and access the geotransforms that are embedded. It is not as elegant as the gdal solution but is helpful if we want to include a demo that uses non-global data.

[2019-09-30 05:36] #39 closed

[2019-09-30 23:40] #28 closed

[2020-01-03 16:14] michaelaye opened #51 "Links to notebooks are broken?"
This looks like an interesting project.
But I get 404s on the notebooks linked in the readme?

[2020-01-06 05:50] julesghub commented on #51
Thanks for raising this @michaelaye. I have submitted a PR to fix this - #52. Should be merged in soon.

Meanwhile you can use this branch without 404s - https://github.com/underworldcode/stripy/tree/fix-readme-links

[2020-01-06 12:33] brmather commented on #51
Sorry for that @michaelaye - those links must have broken after a directory restructure some time ago. I have merged #52 so those links now work from the `master` branch.

[2020-01-06 12:33] #51 closed

[2020-02-05 23:46] brmather opened #53 "What happened to the API docs?"
Something must be overwritten with the Underworld website because I can't find the API docs anymore :cry:

[2020-02-06 00:22] lmoresi commented on #53
I think we need to publish those docs in a new location ... the website overhaul has migrated everything away from the github pages.

[2020-02-06 00:31] brmather commented on #53
Looking a bit further into it, they're located at https://underworldcode.github.io/stripy/
I'll update the link in the README.

[2020-02-06 00:37] lmoresi commented on #53
I just fixed all the redirects to allow that link to show up.

[2020-02-06 01:50] kwagstyl opened #54 "ssrfpack unif function"
Hi,

Thank you so much for creating this tool. It's a great resource to have in python.

In trying to replicate spherical interpolation with splines under tension from Renka,
I have so far been able to run the nearest, linear and cubic interpolations from my smaller number of spherical sample points to the larger, more densely sampled sphere. The issue I'm running into is that cubic interpolations

[2020-02-06 03:22] #53 closed

[2020-02-06 03:31] lmoresi commented on #54
The UNIF routine is in SSRFPACK and so it could be wrapped. Would we need to expose the subsidiary routines as well ? And which routines would we use to obtain the equivalent result at the original (or a different) triangulation. How does this differ from the wrapper for SMSURF ?

@brmather in the first instance ... and if you don't have a clear idea, should we ask Renka what he would recommend ?

[2020-02-06 06:21] brmather commented on #54
I've created a wrapper for UNIF in PR #55.

[code]
gives the same result as
[code]

But what I think @kwagstyl wants is to input values of sigma, which is an optional array for storing tension factors. The best thing to do is call a function that stores the optimal tension `sigma` on the object that would be fed into all smoothing and interpolation routines. However, this would require wrapping `S

[2020-02-06 17:43] kwagstyl commented on #54
@brmather
Thanks so much for doing that.
You are right, the tension sigma would necessary to figure this out.
I'm currently starting at zero for wrapping Fortran, but from your pull request integrating unif it looks like just removing the !s from ssrfpack.pyf.
Apart from doing the same for the other functions and testing it locally, is there more to it?

Konrad

[2020-02-06 22:23] lmoresi commented on #54
The same options should be made available to the smoothing routine, right, as we should provide the option to obtain these values point-by-point or for a whole triangulation - the regular grid is somewhat limiting. I would suggest doing the wrapping and then consider whether a more python-flavoured interface would be more helpful.

[2020-02-06 22:58] brmather commented on #54
@kwagstyl it's not too difficult to wrap the functions, just beware of the `intent(in)` / `intent(out)` statements which tells python whether a variable is input or output. The other wrapped routines can be used as a guide alongside the original paper by Renka. You can submit a PR on the same `UNIF` branch and tag it in this issue. We can squash any bugs in the PR.

@lmoresi I'm not sure there is

[2020-02-06 23:45] lmoresi commented on #54
I wasn't suggesting a point-wise computation, only that we should offer sampling at any points not just at points on a regular grid. Do the tensioned splines guarantee node values are honoured (so infinite tension -> bilinear interpolation) ?

[2020-02-06 23:55] brmather commented on #54
We already have unstructured interpolation wrapped in the `interpolate` method, just `sigma` needs to be input to the Fortran subroutines for tensioned splines.

Good question - another notebook in the examples documentation should probably explore this.

[2020-02-06 23:55] brmather commented on #54
#56

[2020-02-07 05:18] brmather commented on #54
After beating #56 into #55 the tensioned splines stuff is ready to go. @kwagstyl could you test if it works correctly? The spline tensions can be updated with `update_tension_factors` and the smoothing and gradient operations should work.

Unfortunately, interpolation is not working with this yet :disappointed: `sigma` is hardcoded to equal zero in `stripack.f90` so the fortran needs some gentle m

[2020-02-07 23:24] kwagstyl commented on #54
@brmather @lmoresi
The code runs and the output looks like something in between linear and cubic, so that seems to be working :)
The Unif function seems to automatically create a grid mesh, and I'm interpolating to a set of points.
So I'm using it like this:

#set up triangulation with original samples lons_sampled (180 samples)
mesh=stripy.sTriangulation(lons_sampled,lats_sampled)
#set up regular

[2020-02-10 03:34] brmather commented on #54
Hi @kwagstyl

Thanks for testing the code. I've overhauled the `interpolate_cubic` method to accept tensioned splines, so you can interpolate unstructured coordinates without creating an intermediary mesh object from the grid coordinates.

Good spot for finding the transposed array :clap: - switching between C and Fortran ordering can be confusing so I've enforced the C ordering in the `interpolat

[2020-02-11 22:39] #54 closed

[2020-02-11 22:44] kwagstyl commented on #54
Thanks @brmather and @lmoresi for your help getting this to work in stripy
Looking forward to testing it out

[2020-02-28 02:12] jccurtis opened #59 "Fortran dependency could be resolved with wheels posted to pypi"
I just found this package after searching for some time for spherical surface interpolation methods (I really don't understand why this isn't in `scipy`...) My comments for improvement are:

* to enable the pypi deployment and upload the wheels (no `fortran` needed for `pip` install like `scipy`, etc.)
* enable testing for python2 since it is supported in the [`setup.py`](https://github.com/underw

[2020-02-28 02:43] lmoresi commented on #59
Agreed - looking into this (and, indeed, `conda install`) since the CI/CD that we use allows us to choose multiple platforms and build / upload binaries. We are phasing out python2 as this is a side-project that we want to keep as lean as we can.

I'm working with a broken leg right now. I wish it was possible to upload a new patch to fix these things. Good luck.

[2020-02-28 03:08] jccurtis commented on #59
Thanks for the prompt response @lmoresi! I can take a look this weekend and check about the `pypi` upload. `conda install` would also be awesome! Our research group is unfortunately stuck supporting python2 since we are using [ROSv1](https://www.ros.org/) which is built against python2 in their Ubuntu `apt` infrastructure but this can be worked around with optional deps. I'm just counting the days

[2020-02-28 04:33] lmoresi commented on #59
Happy to have help / collaboration on this. The python 2 issue is just us being complacent and we would be happy to have that looked into.

Same with binary releases - we just lack experience in how to get coverage of all the required platforms in some easy-to-automate workflow. We are moving to github actions in the repository to try to make this a fully collaborative enterprise.

[2020-03-02 01:43] jccurtis commented on #59
Regarding Travis this seems pretty straightforward. I haven’t found a good reference or example for GH actions for bdist CD on PYPI (yet).

See: https://docs.travis-ci.com/user/deployment-v2/providers/pypi/

[2020-03-05 07:24] jccurtis commented on #59
Update, thanks for getting macOS wheels on pypi for `v1.2.0`!

[code]

I see this was uploaded with a partially completed action](https://github.com/underworldcode/stripy/runs/486514997?check_suite_focus=true) but the linux still fails due to the invalid platform tag:

[code]

Thus I see you are using the [RalfG/python-wheels-manylinux-build](https://github.com/RalfG/python-wheels-manylinux-build)

[2020-03-05 08:33] lmoresi commented on #59
This should make everyone quite happy

<img width="803" alt="Screen Shot 2020-03-05 at 7 31 16 pm" src="https://user-images.githubusercontent.com/12588963/75962558-17b7d980-5f18-11ea-9ebc-dba207c7df7d.png">

[2020-03-05 08:33] #59 closed

[2020-03-05 08:43] lmoresi opened #68 "conda build should use local stripy"
Currently the build looks to pypi for a tar file -and that produces

1.  a race condition with the pypi build that is unlikely to end well
1. a need to update the meta.yaml file with the relevant version number consistent with setup.py

[2020-03-05 17:56] jccurtis commented on #59
Excellent. My apologies if my verbose notes added noise or confusion (I am learning all this too 😊). I’m glad the manylinux fix worked out! Thanks again!

[2020-03-05 23:34] #68 closed

[2020-03-05 23:35] lmoresi opened #69 "Non-deterministic tests"
Every once in a while we get a failed test because:

[code]

We should not let this get triggered in testing

[2020-03-10 06:26] brmather commented on #69
After a couple of refinements the `square_mesh` class would occasionally raise this error after a couple of refinements - despite the point order being randomised. I fixed this in 5e46c8550c3127a4203b2e2dcd4ca5a8a09edd6e by swapping the first point with the last point.

[2020-03-10 23:30] #69 closed

[2020-06-04 07:37] koekoekk opened #74 "Stripy Import error"
I am trying to use Stripy. I was able to install Stripy with `pip install stripy`, after I installed gfortran with MinGW.
However, after importing the module stripy I get the following import error message:

I cannot find what could cause this error, so I am hoping you could help me on solving this error.

I am using Python 3.7

My stripy package directory looks [as follows](https://imgur.com/yeVh

[2020-06-09 05:12] lmoresi commented on #74
gfortran strikes again. @rbeucher - do we have a conda build that we could suggest instead that might be an alternative ?

[2020-06-09 05:26] rbeucher commented on #74
Hi @koekoekk  @lmoresi

We don't have a windows build. I can look into it.

[2020-06-10 06:38] rbeucher commented on #74
Hi @koekoekk

I have made a win-64 binary. Can you try to install it from your conda installation?

Make sure you have conda-forge in the channels.

[code]

I have tried on that machine and it looks like it is working OK.
Note that we only have a binary for python3.7 so make sure that your anaconda install is up to date.

Romain

[2020-06-10 07:59] koekoekk commented on #74
Hi @rbeucher,
This works for me with python 3.7. Thank you!

[2020-06-10 07:59] #74 closed

[2020-06-10 08:15] rbeucher commented on #74
Great, glad that works

[2020-07-26 23:37] brmather opened #78 "Separate spline tensions from mesh objects"
If users want spline tensions, they should supply the `sigma` array to the derivative, smoothing, interpolation methods.

[2020-08-13 00:36] brmather opened #80 "Voronoi diagram"
for version 2.0

[2020-08-19 07:11] brmather commented on #80
This was implemented in d0269296f241b7556317d19d7b4d61885e85fff1

[2020-08-19 07:12] #80 closed

[2020-08-19 23:25] brmather commented on #78
This was completed in 872f052514e245d007d3ce41cfcf53771a6e603b

[2020-08-19 23:25] #78 closed

[2020-09-09 23:30] brmather opened #84 "Test for permutation"
Permute and interpolate

[2020-09-09 23:56] brmather commented on #84
Create a list of lat/lon, interpolate, and check if the result is the same with `permute=True` and `permute=False`

[2020-09-10 04:57] brmather commented on #84
This was done in 63426e96e0a6d23d7ef2cc30aeaee0694f1f0279 and all tests are passing.

@lmoresi I can't reproduce your bug!

[2020-09-10 05:04] brmather commented on #84
I shouldn't say _all_ tests are passing, there are still some build issues on Mac with conda and Windows builds.

[2020-09-28 10:22] kitchenknif opened #85 "Repeated call of sTriangulation freezes"
Running this code seems to randomly hang after +\- 3000 iterations, and I have been unable to deduce why.
Using quadrature points from [here](https://people.sc.fsu.edu/~jburkardt/datasets/sphere_lebedev_rule/sphere_lebedev_rule.html).

[code]
[lebedev_029.txt](https://github.com/underworldcode/stripy/files/5291519/lebedev_029.txt)

[2020-09-28 10:35] lmoresi commented on #85
My guess would be that you are seeing some failure in garbage collection which is occurring when f2py is used to wrap the underlying fortran code. It’s something of a black box and I suspect we will need to try a few things to figure out what is going on.

I wonder if the behaviour would be more predictable if you explicitly delete the objects in the loop.

We haven’t really battle-tested this use

[2020-09-28 10:41] kitchenknif commented on #85
I've been trying to forcibly run garbage collection at the beginning / end of the loop, but that doesn't seem to have any effect.

[2020-09-28 11:01] lmoresi commented on #85
I can confirm that I am also seeing this issue.
At / around the time the code fails I get this error message:

TRMESH - Fatal error!
  The first 3 nodes are collinear.
  Try reordering the data.

This is not the same error that we get if we do not permute the mesh at all. I wonder if this is a case of the permutation loop not doing the right thing if it exhausts its attempts at permutation @brmath

[2020-09-28 11:35] kitchenknif commented on #85
Yeah, that's another Issue that I have,
and it is weird that it only occurs sometimes, considering that the input points are exactly the same during each call to build the triangulation.

[2020-09-28 11:55] lmoresi commented on #85
The permutation is random, and, of course, it is possible to generate another ordering that has co-circular points. It has a loop to keep trying but maybe we don’t try hard enough or test for failure correctly.

The problem is easily reproducible from the code you sent so we can dig a little more.

L

On 28 Sep 2020, 9:35 PM +1000, Pavel Dmitriev <notifications@github.com>, wrote:

Yeah, that's an

[2020-09-29 05:14] brmather commented on #85
The "TRMESH - Fatal error!" message is printed at the fortran level if a permutation fails to produce non-collinear points in the first 3 entries of the lon / lat arrays, but stripy simply reshuffles them again before handing it back. In the past I have written initial checks for collinear points prior to constructing the mesh, but they occasionally terminated at the fortran `TRMESH` routine. It m

[2020-09-29 05:41] lmoresi commented on #85
Another data point:

1) I permuted the points by hand in the text file and turned off the permute option.
One million non-hanging triangulations later … not even any memory leaks worth mentioning.

2) I used my permuted text file and turned permutation on again and sure enough:

0
50
100
150
200
Permutation failed, trying again
Permutation failed, trying again
250
300
350
400
450
500
550
600
Permu

[2020-10-01 22:21] brmather commented on #85
@kitchenknif for now you can fix your code by manually permuting the first 3 points in your list. Adding this line:

[code]
and setting `permute=False` was enough to get your loop working.

We will keep troubleshooting to determine the root cause of the problem.

[2020-10-02 03:55] kitchenknif commented on #85
My current solution looks like this, manually permuting the points if something goes wrong.

        theta = np.roll(theta, 10)
        phi = np.roll(phi, 10)
        weights = np.roll(weights, 10)

        tri = None
        while tri is None:
            try:
                tri = stripy.sTriangulation(lons=phi - np.pi, lats=-theta + np.pi / 2, permute=False)
            except ValueError as e:

[2020-10-22 13:47] jimc101 opened #86 "sTriangulation.neighbour_simplices() method is expensive"
From some tests I have done, the time taken to identify neighbour simplices in a spherical triangulation scales with N^{2}, where N is is the number of simplices. This seems to be consistent with the underlying Fortran code, which includes two nested loops over the element set. Have you thought about ways in which the efficiency of this operation could be improved; for example, by exploiting aspec

[2020-11-03 01:21] lmoresi commented on #86
For many of the tasks we use stripy for, it is not necessary to navigate the mesh but rather to identify nearby nodes / centroids and for this we generally use the k-d tree interface. We are entirely aware that this is not the same thing as identifying the natural neighbours or the neighbour simplices but it certainly does not suffer the same issues as finding points using the underlying fortran r

[2020-11-04 11:05] jimc101 commented on #86
In my experiments, the fortran subroutine trlist2() is fast for relatively small meshes (1000s or 10000s of elements), but suffers from the above mentioned scaling problem for larger meshes. Would you consider adding an option to use a K-D Tree to perform the same task on larger meshes, which seems to has better scaling properties, but is slower for small meshes? The following is a quick attempt a

[2021-03-24 15:54] wordsworthgroup opened #90 "ImportError: DLL load failed ..."
I just installed Visual Studio Build Tools on my Windows machine, then successfully installed `stripy` using `pip`. When importing though, I get
[code]

Easy way to fix this? Am I missing installation steps?

[2021-03-24 22:41] lmoresi commented on #90
[https://tr.cloudmagic.com/h/v6/emailtag/tag/2.0/1616625689/e0463a85314d353cd65b915287a67da9/5/56e0546f227d5dd9cd487b5bee1a3fe2/fa3d0b59cb806ead8d122533eef96d03/a5575a5fb3fb7963c370a4a38ac2eeaf/newton.gif]

We find it quite difficult to support the pip install because there is a need to have compilers etc to manage the Fortran sub layer even though it is already compiled.

If you have conda instal

[2021-03-25 01:26] wordsworthgroup commented on #90
Ok I can give it a try through conda. I checked that I have the `gfortran` compiler in my path. Who knows what happened. Thanks for the advice!

[2021-03-25 01:26] #90 closed

[2021-03-25 03:08] lmoresi commented on #90
[https://tr.cloudmagic.com/h/v6/emailtag/tag/2.0/1616641686/e0463a85314d353cd65b915287a67da9/5/56e0546f227d5dd9cd487b5bee1a3fe2/ea0fb6f11ed4721134a44abffb246245/f3579baed78d542c81fd034194633e7d/newton.gif]
It is quite mysterious and pip does not really keep track of the version of the fortran libraries that are used.

Conda is better like that if you can sustain the overhead in using it. Let us kn

[2021-03-26 15:10] wordsworthgroup commented on #90
I installed through miniconda and encountered the same DLL issue
[code]
Just FYI. The installation step looked totally normal though
[code]

[2021-03-30 09:30] lmoresi commented on #90
[https://tr.cloudmagic.com/h/v6/emailtag/tag/2.0/1617096625/e0463a85314d353cd65b915287a67da9/5/56e0546f227d5dd9cd487b5bee1a3fe2/e000dd5b474c618c0393301a6aedce7d/e8a6bf7830ae2cc1c11eb269a66cd0df/newton.gif]
I am not totally clear about that installation step.

The conda install should be for the pre-built binaries

     conda install -c geo-down-under stripy

and it should not be showing any of the

[2021-04-21 12:57] ledragna opened #91 "Fortran Routine Compilation Error"
Hello everyone,

I encountered an error when installing stripy both from source and with pip.
This is due to a compilation error of the fortran routine.

**PROBLEM:**
The calls to [intrc0] (l. 7364-7365) and [intrc1] (l. 7391-7392) in srfpack.f are not compliant with the Fortran standard and raise an error with GFortran 10.2.1 (Debian) and (Arch Linux):
lcc is expected as a rank-1 array in the def

[2021-04-21 23:45] lmoresi commented on #91
[https://tr.cloudmagic.com/h/v6/emailtag/tag/2.0/1619048718/e0463a85314d353cd65b915287a67da9/5/56e0546f227d5dd9cd487b5bee1a3fe2/c135c3d66b7bc69b1847b258792a47be/9efab2399c7c560b34de477b9aa0a465/newton.gif]
If you would like to submit this as a pull request so we have a record of your contribution, feel free to do so. Otherwise we can do it for you but it won’t be recorded in the stripy repo.

Let

[2021-04-22 00:44] ledragna commented on #91
I just created a pull request.

it's a great project and I'm glad to be useful with my little contribution.

Best,

Marco

[2021-04-25 09:47] lmoresi opened #93 "Macos Runner has changed"
Currently we are using a homebrew gfortran installation but this is breaking.

[2021-04-28 08:59] #91 closed

[2021-10-12 04:30] lmoresi opened #96 "documentation fixes"
- Logo for jupyter book
 - Shorter titles for side menu

[2021-10-13 16:17] jccurtis opened #97 "python3.9 release"
With #95 merged the package is ready for a python3.9 release. Is there a timeline to merge `dev` into `master`? Thanks!

[2021-11-08 00:25] NengLu opened #98 "import issue when using underworld"
Hi guys,
I run into an import issue and that bother me a while, would you help me check with that?
if import underworld and stripy together, it will somehow get the wrong tri.simplices:
[code]
The result is:
[code]
While import stripy alone, the tri.simplices are correct as:
[code]
Are there any function conflicts there in underworld and stripy or? Thanks in advance.

[2021-11-08 00:30] NengLu commented on #98
Here is the link that I how to install them, using conda to install stripy and compile the underworld from source code in the env.

https://github.com/underworldcode/underworld2/issues/587

[2021-11-09 13:41] NengLu commented on #98
update:
tried reinstalling stripy with 2 verisons.
1. stripy1.2.2 by _$ python3 -m pip install stripy_
2. stripy2.0.2 by _$ conda install -c underworldcode stripy_
Still have the same issue.

[2021-11-15 00:45] NengLu commented on #98
update:
tried reinstalling stripy from source code (version 2.05b2), still have the same issue

[2021-11-15 23:31] lmoresi commented on #98
Just to help us figure out what is going on, can you try with a non-zero value of the random scale parameter. Also, if you look at the documentation, you can access the underlying triangulation routines and have a bit more control on what is happening with stripy. https://underworldcode.github.io/stripy/2.1.0b1/SphericalMeshing/CartesianTriangulations/Ex1-Cartesian-Triangulations.html That would a

[2021-11-17 03:52] NengLu commented on #98
Hi Louis,
Thanks for the reply.
I tried several sets of parameters and it all get the same issue.
and when using function stripy.Triangulation directly as in the example also has the issue. It will get the right result when importing stripy alone, and get the error when importing stripy after underworld:
[code]
It's more likely the dynamic libraries issue like Romain mentioned.

[2021-11-17 04:04] julesghub commented on #98
Using python3.9 and trying:
`pip install stripy` I get the following error:
[code]

Using gfortran 11.2.0.

This is a stripy issue. I'll look into updating it.

[2021-11-17 04:32] lmoresi commented on #98
<!--
/* Font Definitions */
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:Consolas;
	panose-1:2 11 6 9 2 2 4 3 2 4;}
@font-face
	{font-family:"Avenir Next";
	panose-1:2 11 5 3 2 2 2 2 2 4;}
@font-face
	{font-family:"Times New Roman \(Body CS\)";
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@f

[2021-11-17 04:38] julesghub commented on #98
Yes it's occurring during the build. I'm on `master` and I fixed the problem!
I also see the fix is also on branch `dev`. Should we merge dev into master and make a new release?

Also what client are you using with github @lmoresi, your replies to tickets are full of css jargon.

[2021-11-17 04:39] lmoresi commented on #98
Email …    From: Julian Giordani ***@***.***>Date: Wednesday, 17 November 2021 at 3:38 pmTo: underworldcode/stripy ***@***.***>Cc: Louis Moresi ***@***.***>, Mention ***@***.***>Subject: Re: [underworldcode/stripy] import issue when using underworld (Issue #98)Yes it's occurring during the build. I'm on master and I fixed the problem!I also see the fix is also on branch dev. Should we merge dev in

[2022-01-05 00:27] rbeucher opened #99 "Pip install broken"
I tried to install the package today to look at issue #98

I drop the log for reference:

<details>
  <summary>Click to expand!</summary>

[code]
</details>

@lmoresi are you aware of that?

I have moved to python 3.10 so could be related.,... Lots of Fortran warnings too...

[2022-01-05 00:34] rbeucher commented on #99
[code]

[2022-01-05 00:35] rbeucher commented on #99
[code]

[2022-01-05 00:44] rbeucher commented on #99
I don't want to mess too much with the fortran code so that should do...

[2022-01-05 00:47] rbeucher commented on #98
Sorry I saw that a bit late. I fix it on master...

[2022-01-05 04:52] rbeucher commented on #98
OK results of my investigations for today...

What does not work:

[code]

What works (from the directory where _tripack.*.so is located)
[code]

The difference is that in case 1 we have some extra dynamic libraries loaded...
[code]

Not very helpful

My first thought was to try passing the -fPIC options when building the libraries....
No luck...

Note that we can reduce the complexity by doing `f

[2022-01-05 05:05] rbeucher commented on #98
One thing that might confuse the loader is the fact that the routines have the same names in the different Fortran extensions...

[2022-01-05 05:08] rbeucher commented on #98
Yep that is exactly what is happening... There is an ambiguity between the trmesh subroutine in stripack.f90 and tripack.f90...

[2022-01-05 06:19] lmoresi commented on #98
That's a pity because one of the virtues of wrapping the code is that we don't have to touch the original fortran ... and hence we are never going to introduce new bugs. Is there a way to fix this via f2py that keeps the original code untouched, or do we need a super-grep intervention ?

[2022-01-05 08:28] rbeucher commented on #98
I don't know yet. I will investigate. I agree we shouldn't have to touch the Fortran code

[2022-01-05 21:06] rbeucher commented on #98
I'll keep documenting the debugging process...sorry if I'm spamming everyone...

So

What works (from the directory where _tripack.*.so is located)

[code]
Also works:

[code]

Does not work and throws an sTRMESH error (so the wrong routine gets called). I think its a fortran wrapping issue...:
And the reason is that stripack and tripack both have a trmesh routine...

[code]

[2022-01-06 02:26] rbeucher commented on #98
I have tried to reproduce the issue with a package that is not Underworld but has Swig generated so files...
No luck...Stripy is doing things properly. Changing the name of the routine does not help...

The issue only occur when importing Underworld before the stripy submodules...And it only appears when we load strimesh before trimesh...
f2py generates C bindings for TRMESH (tri and strimesh) tha

[2022-01-25 18:44] jccurtis commented on #97
@lmoresi just checking in about the python3.9 release. The dev branch passes the 3.9 CI tests. I see that dev is ahead of master. Is there a timeline for the next release?

[2022-01-25 18:47] jccurtis commented on #99
@rbeucher were you able to build for python 3.10?

[2022-01-25 20:15] rbeucher commented on #99
Hi @jccurtis
Yes I have. You should use the master or Dev branch though. I don't think the version on pypi has the fix. @lmoresi ?

[2022-01-25 21:42] lmoresi commented on #99
Did we fix up the actions to publish a beta from dev ? We should, as it doesn’t affect most users and does make this available without doing anything.

Sent from my iPhone

On 26 Jan 2022, at 7:16 am, Romain Beucher ***@***.***> wrote:

﻿

Hi @jccurtis<https://aus01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjccurtis&data=04%7C01%7Clouis.moresi%40anu.edu.au%7C27d0f2ef534d473f

[2022-01-25 22:18] jccurtis commented on #99
@lmoresi and @rbeucher thanks for getting back to me. Yes, a beta version on pypi would be very useful. In fact the version on [pypi](https://pypi.org/project/stripy/#history) is from Nov 2020.

[2022-01-25 22:19] jccurtis commented on #99
Let me know if this is something you would like me to add. 😄

[2022-02-02 12:17] lmoresi commented on #99
Any help we can get would be most welcome, @jccurtis. I agree that it is time for a release, and we should auto-upload the betas to pypi.

[2022-03-28 19:55] jccurtis opened #101 "Python3.8 wheel not pushed to pypi for v2.1.0"
The wheel for `python3.8` where not uploaded to `pypi` with the last release: https://pypi.org/project/stripy/2.1.0/#files

This causes issues on machines without `gfortran` which previously could install on `python3.8`. The CI must have changed to not push this like previously?

[2022-03-28 19:55] jccurtis commented on #101
Also, related to #97

[2022-03-28 22:45] ojashvirautela opened #102 "Unable to install stripy using pip and conda"
Hi!

I am unable to install _stripy_ using wither conda or pip installer.

I have the three required packages mentioned in the documentation installed and running on Python 3.10.3

Error From conda: _PackagesNotFoundError_
Error from pip: [stripy_failed_pip_output.txt](https://github.com/underworldcode/stripy/files/8366801/stripy_failed_pip_output.txt)

**Machine spec**: macOS Monterey v12.3, Appl

[2022-03-28 23:00] ojashvirautela commented on #102
Looks like I had an issue with my gfortran compiler, which I was able to resolve. And therefore was able to download using `pip`. This issue can therefore be closed! :)

However, still getting the _PackagesNotFoundError_ when using `conda` to install.

[2022-03-29 00:15] lmoresi commented on #102
This might be a conda-forge question. @rbeucher ... can you provide some instructions for what we need to do to trigger conda-forge to build ?

[2022-03-29 00:25] lmoresi commented on #101
Just having a quick look ... which platform ?

The MacOS ones seemed to build and upload, the windows and linux are patchy. I am not sure why.

@brmather, @rbeucher

[2022-03-29 00:45] jccurtis commented on #101
Thanks for taking a looking @lmoresi! I'm referring to the files uploaded to [pypi](https://pypi.org/project/stripy/#files) which appear to only be for cpython 3.7:

<img width="528" alt="CleanShot 2022-03-28 at 17 34 21@2x" src="https://user-images.githubusercontent.com/1504659/160509488-c4acba7d-a350-43fd-82a6-23a6f3f688ab.png">

I think I found the bug: https://github.com/underworldcode/stripy/

[2022-03-29 01:09] rbeucher commented on #102
Hi, @lmoresi @ojashvirautela

2 things here: we don't have 3.10 wheels yet, I haven't tested on the M1...

R

[2022-03-29 01:11] jccurtis commented on #101
@lmoresi I haven't tested this PR's actions but I think it will fix the issues for the macOS and manylinux wheels for python 2.7, 3.6, 3.7, 3.8, 3.9

[2022-03-29 02:21] ojashvirautela commented on #102
Hi @lmoresi @rbeucher Thank you for your quick responses! :)
So does this mean this issue cannot be resolved as of now?

[2022-03-29 02:25] rbeucher commented on #102
I will have a look asap and will let you know.

[2022-03-29 09:03] lmoresi commented on #102
Depends how urgent this is - the build from source is not that hard on the mac if you install gfortran (conda makes this straightforward) ... we haven't tried on 3.10 though

If you are using conda then you could always set up a 3.9 environment, add gfortran, build from source. That is pretty much guaranteed to be ok.

[2022-03-29 21:36] ojashvirautela commented on #102
Ok I will try that, and see if it works! Thanks!

[2022-03-29 22:17] rbeucher commented on #102
I'm on it.

[2022-03-29 22:29] lmoresi commented on #101
That's a good idea. We use this idea in other repos (though it takes a while to propagate because it has to be in the master/main branch for it to work anywhere. Let's see if it works.

[2022-03-31 00:33] rbeucher commented on #99
I managed to build for python 3.10 on Windows, Linux and MacOSX. See Version 2.1.2

I have tested on the M1 and looks good on my side.

Let me know if there is still an issue.

[2022-03-31 00:33] #99 closed

[2022-03-31 00:34] rbeucher commented on #101
Should be good now. Including for python 3.9, 3,10 on Linux. Mac and Windows.

[2022-03-31 00:34] #101 closed

[2022-03-31 00:34] #97 closed

[2022-03-31 05:30] ojashvirautela commented on #102
Hi thank you for looking into it! However, I just tried installing `stripy` without success:

`conda install -c geo-down-under stripy`
[conda_installation_stripy.log](https://github.com/underworldcode/stripy/files/8386241/conda_installation_stripy.log)

`python3 -m pip install stripy`
[pip_installation_stripy.log](https://github.com/underworldcode/stripy/files/8386243/pip_installation_stripy.log)

[2022-03-31 05:44] ojashvirautela commented on #102
I tried `pip install stripy` and it worked! Thanks for all your help! :)

[2022-03-31 09:37] #84 closed

[2022-06-09 14:53] dialuser opened #106 "convert area to actual units"
Hi I have a silly newbie question. sTriangulation returns areas of a unit sphere. So to convert this to actual areas on earth, should I multiply the areas by 4*pi*R^2, with R the earth radius? Thanks.
Alex

[2022-09-08 14:13] anowacki opened #107 "Cannot find libgfortran, etc., on macOS when installed via pip"
Thanks for maintaining stripy and apologies for the following limited bug report.  I don't know much about Python packaging or wheel distribution I'm afraid.

I have tried installing stripy via `pip install` (and via Poetry), but when I do this I'm unable to load the dynamic libraries for the Fortran runtime:

[code]

[code]

It appears that the location of libgfortran (plus the other linked GCC l

[2022-09-08 14:36] anowacki commented on #107
Just to be clear, this is where `_stripack.cpython-38-darwin.so` is looking for the libraries:

[code]

(libSystem is fine.)